{{- $opts := dict 
    "output" "html"
    "displayMode" "false"
-}}

{{- if eq .Type "block" -}}
    {{- $opts := dict 
        "output" "html"
        "displayMode" "true"
    -}}
    {{- with try (transform.ToMath .Inner $opts) -}}
        {{- with .Err -}}
            {{ errorf "Failed to render KaTeX: %q. See %s" . $.Position }}
        {{- else -}}
        <p>
            {{ .Value }}
            {{- $.Page.Store.Set "hasMath" true }}
        </p>
        {{- end -}}
    {{- end -}}
{{- else -}}
    {{- with try (transform.ToMath .Inner $opts) -}}
        {{- with .Err -}}
            {{ errorf "Failed to render KaTeX: %q. See %s" . $.Position }}
        {{- else -}}
            {{ .Value }}
            {{- $.Page.Store.Set "hasMath" true }}
        {{- end -}}
    {{- end -}}
{{- end -}}

