{{ $katex_fonts_options := dict
    "targetPath" "/css/katex-fonts.css"
    "outputStyle" "compressed"
    "enableSourceMap" true
}}
{{ with resources.Get "scss/katex-fonts.scss"| resources.ExecuteAsTemplate "main.scss" .  | toCSS $katex_fonts_options | minify }}
<link rel="preload" href="{{ .RelPermalink }}" as="style" onload="this.onload=null;this.rel='stylesheet'">
<noscript><link rel="stylesheet" href="{{ .RelPermalink }}"></noscript>
{{ end }}

{{ with resources.Get "css/katex.css"| toCSS | minify }}
<link rel="preload" href="{{ .RelPermalink }}" as="style" onload="this.onload=null;this.rel='stylesheet'">
<noscript><link rel="stylesheet" href="{{ .RelPermalink }}"></noscript>
{{ end }}
