<link rel="preconnect" href="//cdnjs.cloudflare.com" />

<link rel="preload" href="//cdnjs.cloudflare.com/ajax/libs/KaTeX/{{ .Site.Params.KaTeXVersion }}/fonts/KaTeX_Main-Regular.woff2" as="font" type="font/woff2" crossorigin />

<link rel="preload" href="//cdnjs.cloudflare.com/ajax/libs/KaTeX/{{ .Site.Params.KaTeXVersion }}/katex.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
<noscript><link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/KaTeX/{{ .Site.Params.KaTeXVersion }}/katex.min.css" crossorigin="anonymous"></noscript>
