{{ $display := .Get "d" | default false }}

{{- $opts := dict 
    "output" "html"
    "displayMode" "false"
-}}

{{- if eq $display true -}}
    {{- $opts := dict 
        "output" "html"
        "displayMode" "true"
    -}}
    {{- with transform.ToMath .Inner $opts -}}
        {{- with .Err -}}
            {{ errorf "Failed to render KaTeX: %q. See %s" . $.Position }}
        {{- else -}}
        <p>
            {{ . }}
        </p>
        {{- end -}}
    {{- end -}}

{{- else -}}
    {{- with transform.ToMath .Inner $opts -}}
        {{- with .Err -}}
            {{ errorf "Failed to render KaTeX: %q. See %s" . $.Position }}
        {{- else -}}
        {{ . }}
        {{- end -}}
    {{- end -}}
{{- end -}}

